<% include ../partials/header %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap-grid.css">
	
	<link rel="stylesheet" type="text/css" href="/homepage.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap-grid.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap&subset=latin-ext" rel="stylesheet">
<body>
	
	
<section style="display: flex;">

<div style="display: flex;justify-content: center;align-items: center;z-index: 999999;">
	<div class="row" style=";display: flex;flex-wrap: wrap;">
		
	<a href="<%=link%>"  ><div class="col-lg-8 col-md-10 col-xs-12 col-sm-12" style="color: black;list-style: none;box-sizing: border-box;border-color: white;z-index: -1;background-color: white;height: 100px;font-size: 20px;font-family: 'Lato',sans-serif;font-weight: 200;"><%=link%>
	
		
	</div>
	</a>
</div>
	
</div>	
</section>
<a href="/">Want To Download More</a>



		

 

<% include ../partials/footer %>
